<div class="" style="position: relative">
    <div class="relative inline-block w-full">
        <input 
            type="text" 
            placeholder="Search for the music" 
            class="px-3 py-1 w-full" 
            style="background-color: #2B2B2B; padding-right: 30px;"
            [(ngModel)]="termoDeBusca"
        >
        <i class="fas fa-search
                absolute top-1/2" 
        style="color: #515151; right: 10px;transform: translateY(-50%);" 
        (click)="atualizarResultados()"></i>
    </div>
    
      
    <div *ngIf="albumsFiltrados.length > 0"  
        class="my-2"  
        style="position: absolute; width: 100%; top: 100%; background-color: #2B2B2B;">
        <div *ngFor="let album of albumsFiltrados" 
            class="py-2 px-4 text-white flex w-full"
            style="border-bottom: 1px solid #8B8B8B"
            >
            <span class="w-full text-sm">{{ album.title.length > 14 ? album.title.slice(0, 14) + '...' : album.title }}</span>
            <span class="w-full text-center text-sm">{{ album.artists.length > 14 ? album.artists.slice(0, 14) + '...' : album.artists }}</span>
            <span class="w-full text-end text-sm">{{ album.release | date: 'yyyy' }}</span>
        </div>
    </div>
    
</div>
